# Ollama Configuration
OLLAMA_IP=192.168.XXX.XX
OLLAMA_PORT=11434 #Ollama default port
OLLAMA_MODEL=llama3.2:3b

# Character Personality
CHARACTER_NAME=Rina-chan #Default

# APP IP
APP_IP=192.168.XXX.XX